@model IEnumerable<ActivityClubPortal.API.Resources.Viewmodels.EventsVm>


<!-- Bootstrap table with enhanced styling -->
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-primary">Events List</h1>
        <a asp-controller="Events" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Create New Event</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Destination</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Lookup</th>
                    <th>Image</th>
                    <th>Members</th>
                    <th>Guides</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Event.Name</td>
                        <td>@obj.Event.Description</td>
                        <td>@obj.Event.Destination</td>
                        <td>@obj.Event.DateFrom</td>
                        <td>@obj.Event.DateTo</td>
                        <td>@obj.Event.Cost</td>
                        <td>@obj.Event.Status</td>
                        <td>@obj.Lookup.Name</td>
                        <td >
                            <img src="@obj.Event.ImageUrl" class="img-fluid rounded" alt="Event Image" />
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Events" asp-action="EventMembers" asp-route-id="@obj.Event.Id">View Members</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Events" asp-action="EventGuides" asp-route-id="@obj.Event.Id">View Guides</a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-controller="Events" asp-action="Edit" asp-route-id="@obj.Event.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a asp-controller="Events" asp-action="Delete" asp-route-id="@obj.Event.Id" class="btn btn-danger"><i class="bi bi-x-circle"></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
